body {
  size:letter;
  margin:0.5in;
  padding:10pt 0pt;
  font-family: verdana, tahoma, arial, sans-serif;
  font-size:10;
  border-color:black;
  border-width:1px;
  border-style:solid;
}

h1 {
  font-family: verdana, tahoma, arial, sans-serif;
  font-size:16;
  text-align:center;
  align:center;
  text-transform:uppercase;
  padding-bottom:0;
}

th {
  background-color:#dfdfdf;  
  border-top: 1 solid black;
  border-bottom: 1 solid black;
  font-weight:bold;
  text-align:center;
  align:center;
  
}

th.subth {
  background-color:white;
  border-style:solid;
  border-color: #dfdfdf;
  border-width:1px;
  font-size:8;
  vertical-align:middle;
}

table {
  width:100%;
}

/*
td {
  border:1;
}*/

.label {
  font-weight:bold;
  align:right;
}

.checkbox {
  width:12px;
  height:12px;
  border-style:none;
  align:right;
}

.uline{
  white-space:pre;
  border-bottom-style:solid;
  border-bottom-width:1;
  border-bottom-color:#999999;
}

.spacer {
  width:0;
}

.smalltext {
  font-size:8;
}
.emtext{
  font-weight:bold;
  font-style:italic;
  font-size:8;
}

.emsmalltext{
  font-weight:bold;
  font-style:italic;
  font-size:8;
}
p.linebreak {
  margin:0;
  padding:2;
}

p.footer {
  align:center;
}

ol.questions {
  list-style-type:decimal;
  font-size:small;
}

ol.questions li {
}

.userinput {
  font-family:courier, serif;
  font-style:italic;
}
